/.vscode
/Arit.cpp
/Avredge.cpp
/Avredge.exe
/Findmax.cpp
/Findmax.exe
/FistScoundMax.cpp
/FistScoundMax.exe
/homework3.cpp
/homework3.exe
/LineOfCharacter.cpp
/LineOfCharacter.exe
/MaxbutConcidered.cpp
/MaxbutConcidered.exe
/PrintRange.cpp
/PrintRange.exe
/sort.cpp
/sort.exe
/SumMax.exe
/SwapTwoNum.exe
/Test.exe